@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-condensed-v25-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-condensed-v25-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-condensed-v25-latin-regular.woff2") format("woff2"), url("../fonts/roboto-condensed-v25-latin-regular.woff") format("woff"), url("../fonts/roboto-condensed-v25-latin-regular.ttf") format("truetype"), url("../fonts/roboto-condensed-v25-latin-regular.svg#RobotoCondensed") format("svg"); /* Legacy iOS */
}
.connect__text, .connect__subtitle, .connect__title, .box__next, .box__text, .box__title, .discover__text, .discover__subtitle, .discover__title, .intro__subtitle, .intro__title, .nav__right-list, .nav__left-list, .header__start, button, body {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

button {
  padding: 15px 22px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background: #008060;
  border: 2px solid #008060;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.header {
  background: #002D2D;
  position: relative;
}
.header__start {
  padding: 15px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  background: #A5E3B9;
  border-radius: 0px;
}
.header__img {
  position: absolute;
  left: 73%;
  top: 28px;
}

.nav {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: none;
}
.nav__left {
  display: flex;
  justify-content: none;
  align-items: none;
}
.nav__left-list {
  margin-left: 39px;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  justify-content: none;
  align-items: center;
  gap: 47px;
  color: #ffffff;
}
.nav__right {
  display: flex;
  justify-content: none;
  align-items: none;
}
.nav__right-list {
  margin-right: 30px;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  justify-content: none;
  align-items: center;
  gap: 30px;
  color: #ffffff;
}

.intro {
  height: 100%;
  text-align: left;
  display: flex;
  justify-content: none;
  align-items: none;
  position: relative;
  color: #ffffff;
  background: #002D2D;
}
.intro__title {
  padding: 41px 0;
  width: 482px;
  font-size: 58px;
  line-height: 57px;
}
.intro__subtitle {
  font-size: 18px;
  line-height: 24px;
}
.intro__form {
  padding: 34px 0 24px 0;
}
.intro__label {
  padding: 10px 130px 24px 16px;
  border: none;
  background: #FFFFFF;
  box-shadow: 0px 0px 0px #6B7177;
  border-radius: 4px;
}
.intro__btn {
  position: absolute;
  left: 333px;
  top: 310px;
}
.intro__text {
  width: 474px;
  margin-bottom: 70px;
  font-size: 12px;
  line-height: 18px;
}
.intro__right {
  margin-left: 133px;
}

.discover__title {
  width: 806px;
  margin-top: 50px;
  margin-bottom: 37px;
  font-size: 60px;
  line-height: 72px;
  color: #212326;
}
.discover__bottom {
  padding: 31px 1020px 501px 48px;
  background: #799102;
  border-radius: 30px;
}
.discover__subtitle {
  font-size: 29px;
  line-height: 32px;
  color: #ffffff;
}
.discover__text {
  margin-bottom: 50px;
  font-size: 22px;
  line-height: 29px;
  color: #ffffff;
}

.box {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: none;
}
.box__wrapper {
  padding-right: 10px;
  margin-bottom: 70px;
}
.box__hr {
  width: 360px;
  height: 3px;
  margin-bottom: 20px;
  background: #939393;
  border-radius: 0px;
}
.box__title {
  font-size: 24px;
  line-height: 32px;
  color: #212326;
}
.box__text {
  margin-top: 21px;
  margin-bottom: 16px;
  width: 340px;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.box__next {
  font-size: 16px;
  line-height: 24px;
  color: #008060;
}

.connect {
  position: relative;
}
.connect__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: none;
  flex-wrap: wrap;
}
.connect__title {
  padding-top: 100px;
  width: 318px;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.621429px;
  color: #212326;
}
.connect__subtitle {
  padding-top: 19px;
  padding-bottom: 16px;
  width: 364px;
  font-size: 16px;
  line-height: 24px;
  color: #6B7177;
}
.connect__text {
  font-size: 16px;
  line-height: 24px;
  color: #008060;
}
.connect__img {
  background-image: url(/images/Rectangle.png);
  background-repeat: no-repeat;
}/*# sourceMappingURL=main.css.map */