.box{
    
    margin-top: 40px;
    @include display (flex,space-between,none);
    &__wrapper{
        padding-right: 10px;
        margin-bottom: 70px;
    }
    &__hr{
        width: 360px;
        height: 3px;
        margin-bottom: 20px;
        background: #939393;
        border-radius: 0px; 
    }
    &__title{
        @extend %font;
        @include text(24px,32px);
        color:$title-color;
    }
    &__text{
        margin-top: 21px;
        margin-bottom: 16px;
        width: 340px;
        @extend %font;
        @include text(16px,24px);
        color: #000000;
    }
    &__next{
        @extend %font;
        @include text(16px,24px);
        color: #008060;
    }
}