.intro{
   
    // padding-left: 18px;
    height: 100%;
    text-align: left;
    @include display(flex,none,none);
    position: relative;
    color:$main-color;
    background: #002D2D;
    &__title{
        padding: 41px 0;
        width: 482px;
        @extend %font;
        @include text(58px,57px);
    }
    &__subtitle{
        @extend %font;
        @include text(18px,24px);
    }
    &__form{
        padding: 34px 0 24px 0;
    }
    &__label{
        padding: 10px 130px 24px 16px;
        border: none;
        background: #FFFFFF;
        box-shadow: 0px 0px 0px #6B7177;
        border-radius: 4px;
    }
    &__btn{
        position: absolute;
        left: 333px;
        top: 310px;
    }
    &__text{
        width: 474px;
        margin-bottom: 70px;
        @include text(12px,18px);
    }
    &__right{
        margin-left: 133px;
    }
}